<button type="button">
  <div class="dropdown-text"></div>
  <i class="icon-expand" />
</button>
<input type="hidden"{{#if name}} name="{{name}}"{{/if}} />
<div class="dropdown-list invisible shrinkable"></div>
